.body_background 
{
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.7bJZD_RPEczNQnCalsPNQAHaFG&pid=Api&P=0&w=242&h=168);
    background-position: center;
    background-size: cover;
}